<mat-toolbar color="primary">
    <span>Doctor App</span>
    <button mat-icon-button class="" (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
    </button>

    <span style="flex: 1 1 auto;"></span>
    <label style="font-size: 14px; margin-right: 20px;">{{email}}</label>
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>

</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav opened mode="side" style="width: 220px; background: black;">

        <mat-nav-list>

            <mat-list-item routerLink="/layout/dashboard">
                <mat-icon matListItemIcon style="color: white;">dashboard</mat-icon>
                <div matLiStItemTitle style="color: white;">Dashboard</div>           
            </mat-list-item>

            <mat-list-item routerLink="/layout/speciality">
                <mat-icon matListItemIcon style="color: white;">category</mat-icon>
                <div matLiStItemTitle style="color: white;">specialities</div>           
            </mat-list-item>

            <mat-list-item routerLink="/layout/address">
                <mat-icon matListItemIcon style="color: white;">location_on</mat-icon>
                <div matLiStItemTitle style="color: white;">address</div>           
            </mat-list-item>     
            
            <mat-list-item routerLink="/layout/medic">
                <mat-icon matListItemIcon style="color: white;">group_add</mat-icon>
                <div matLiStItemTitle style="color: white;">Medics</div>           
            </mat-list-item>    

        </mat-nav-list>
        

    </mat-sidenav>
    <mat-sidenav-content>

        <div style="height: 90vh;">

            <router-outlet></router-outlet>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>